

button,
input[type="submit"] {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}

.error-notice {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid #e07c7c;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8d6d6;
}
.error-notice button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #df4343;
  color: #ffffff;
}

.msg{
  font-size: 18px;
}
.form-label{
  font-size: 18px;
}
.homeImg{
  max-width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.homeBtn{
  width:100%;
}
.form-check{
  font-size: 14px;
}

@media screen and (max-width: 500px) {
  .msg {
    font-size: 14px;
  }
  .form-label{
    font-size: 14px;
  }
  .homeImg{
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}